<h1>This is the PopUp page!</h1>
<p>Message: @Message</p>

<button @onclick="GoBack">Go Back</button>
<button @onclick="GoToPopUpGeneric">GoTo GoToPopUpGeneric (Route)</button>

@code {
    [Parameter]
    public string Message { get; set; } = "";

    private async Task GoBack()
    {
        var shell = Application.Current.MainPage as Microsoft.Maui.Controls.Shell;
        if (shell != null)
        {
            await shell.Navigation.PopAsync();
        }
    }
    private async Task GoToPopUpGeneric()
    {
        var popup = new GenericPopUpPage(
     blazorComponentType: typeof(PopUp),
     parameters: new Dictionary<string, object> { { "Message", "Hello fro222m Home!" } }
 );

        await Shell.Current.Navigation.PushAsync(popup);

    }

}
